body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

p {
  margin: 0;
}

.wrapper-popup {
  display: flex;
  flex-direction: column;
  width: 273px;
  height: 319px;
  border: 1px solid #000000;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 14px;
  padding-right: 14px;
  background: #ffffff;
}

#loginPopupAuth {
  width: 245px;
  height: 32px;
  border: 1px solid #000000;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  padding: 8px;
  margin-bottom: 8px;
}

#passwordPopupAuth {
  width: 245px;
  height: 32px;
  border: 1px solid #000000;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  padding: 8px;
  margin-bottom: 16px;
}

#userAuthorization {
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  width: 84px;
  height: 32px;
  border: 1px solid #000000;
  box-sizing: border-box;
  background: #ffffff;
  color: #000000;
  margin-bottom: 34px;
}

#accessAuth {
  margin-top: 40px;
}

#authorization {
  margin-top: 16px;
  display: flex;
}

#access-field {
  margin-bottom: 8px;
}

#modalAuth {
  
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4); 
}

.registration {
  margin: 0 auto;
}
